<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Timothy En Haw Chan is a scientist and interdisciplinary writer working at the intersection of biological research and humanity. He is major in Biomedical Sciences from <a href="https://www.cgu.edu.tw/ls" target="_blank" style="color:blue;">Chang Gung University</a> (Taiwan), and is pursuing his PhD at the <a href="https://ie-freiburg.mpg.de" target="_blank" style="color:blue;">Max Planck Institute for Immunobiology and Epigenetics</a> (Germany), in cooperation with the <a href="https://dkfz.de" target="_blank" style="color:blue;">German Cancer Research Center (DKFZ)</a> and the <a href="https://uni-freiburg.de/en/" target="_blank" style="color:blue;">University of Freiburg</a>. His research focuses on the interplay of external stimulus to cellular epigenetic regulation.</p> 
          <p>Having lived in Malaysia, Taiwan, and Germany and traveled to more than 50 countries, he gathers field-observations from border crossings, expat career transitions, and education systems as part of both scientific and humanity viewpoints. </p>
          <p>As a Scientist, Humanist, and Research-Driven Storyteller, His works covered science communication articles for <a href="https://investigator.tw/author/id003/" target="_blank" style="color:blue;">The Investigator Taiwan</a>, opinions for CommonWealth Magazine and personal experience <a href="https://medium.com/nostatsignificance/" target="_blank" style="color:blue;"> #NoStatSignificant </a> on Medium. </p>
          <p>He is acting as a freelancer on Writing, Analyst, Educational and Strategy Consulting.
        </p>
      </div>
      <div class="col-lg-4">
        <p>陳恩浩是一位站在生命科學與人文交界處的科學家與跨領域寫作者。畢業於台灣<a href="https://www.cgu.edu.tw/ls" target="_blank" style="color:blue;">長庚大學生物醫學系</a>，於德國馬克斯普朗克免疫生物學暨表觀遺傳學研究所 <a href="https://ie-freiburg.mpg.de" target="_blank" style="color:blue;">（MPI-IE）</a>、德國癌症研究中心<a href="https://dkfz.de" target="_blank" style="color:blue;">（DKFZ）</a>及<a href="https://uni-freiburg.de/en/" target="_blank" style="color:blue;">弗萊堡大學</a>攻讀博士學位。他的研究聚焦於外在刺激與細胞表觀遺傳調控之間的互動關係。
        <p>曾旅居馬來西亞、台灣、德國，也以背包旅行走訪超過50個國家，他從跨境流動、移居者職涯轉換、教育制度與在地觀察中累積研究視角，並以科學與人文雙重觀點進行思考與分析。</p>
        <p>作為一名科學家、人文思考者與研究驅動的敘事者，他過去曾為<a href="https://investigator.tw/author/id003/" target="_blank" style="color:blue;">《The Investigator Taiwan》</a>編撰科普文章，亦曾於《天下雜誌》《獨立評論@天下》發表評論，並在 Medium 發表<a href="https://medium.com/nostatsignificance/" target="_blank" style="color:blue;"> #無統計意義隨想 </a>的個人經驗與跨文化反思。</p>
        <p>目前亦以自由工作者身份從事寫作、教育與策略諮詢分析相關合作。
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:timothykoala@gmail.com" class="btn btn-lg btn-outline">
          <i class="fa fa-email"></i> Email Contact - 聯絡電郵
        </a>
      </div>
    </div>
  </div>
</section>
